.top-bar {
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
	outline: 1px solid #fff;
	padding: 2px 0;
}
.brand-img {
	height: 41px;
}
.mt-head {
	margin-bottom: 80px;
	background-image: url('../img/slide1.jpg');
	background-position: top;
	background-size: cover;
	position: relative;
}
.mt-head:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .48);
}

.container-top {
	margin-top: 115px;
}

@media(min-width: 768px) {
	.navbar.fixed-top {
		margin-top: 25px;
	}
	.brand-img {
		max-width: 129px;
		height: 61px;
	}
	.mt-head {
		margin-top: 25px;
		height: 645px;
	}
}

.carousel-fade .carousel-item {
	display: block;
	position: absolute;
	opacity: 0;
	transition: opacity .75s ease-in-out;
}

.carousel-fade .carousel-item.active {
	opacity: 1;
}
.carousel,
.carousel-inner,
.carousel-item {
	width: 100%;
	height: 100%;
}

.top-bar form {
	margin-bottom: 0px;
}

.search-by-code-wrap {
	display: flex;
	margin: 5px 0 10px;
}
.btn-sbc {
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	height: 20px;
	vertical-align: middle;
	padding: 0;
}
.btn-sbc .material-icons {
	line-height: 1.25rem;
	font-size: 18px;
}
.form-sbc {
	font-size: .8rem;
	outline: none;
	border: 1px solid #0505051c;
	padding: 0px 0px 0px 5px;
	max-width: 175px;
	background-color: transparent;
	vertical-align: middle;
	flex: 1 1 auto;
	width: 1%;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.top-bar-phone {
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 1.25rem;
	text-align: right;
	margin-left: auto;
}
.top-bar-phone > .material-icons {
	font-size: 18px;
}


#view a:hover {
	color: #f00!important;
}

#sort:hover {
	color: #f00;
}
.white {
	background-color: #fff!important;
}
.navbar-plank {
	display: block;
	background-color: #000;
	width: 25px;
	height: 4px;
}
.navbar-plank+.navbar-plank {
	margin-top: 3px;
}

@media(min-width: 768px) {
	.search-by-code-wrap {
		margin: 0;
	}
}
@media(max-width: 768px) {
	.container-top {
		margin-top: 65px;
	}

}

@media(max-width: 990px) {
	.show-mobile {
		display: block!important;
	}
}


.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #f00;
	border-color: #f00;
}

.pagination > li > a, .pagination > li > span {
	border-radius: 0% !important;
	margin: 0 5px 5px;
	text-align: center;
	padding: 7px 13px;
	border: transparent;
	display: inline-block;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #f00;
	text-decoration: none;
	background-color: #fff;
}

input::-webkit-contacts-auto-fill-button {
	opacity: 0;
}

#apartments-tab, .btn-offers, .btn-order {
	font-size: 1.25rem!important;
	font-weight: 400!important;
}

.cards-wrap .card:hover {
	background-color: rgba(0, 0, 0, 0)!important;
	transition: transform 0.2s ease-in-out;
}

.cards-wrap .card {
	background-color: rgba(0, 0, 0, .5)!important;
}

